# Entorno virtual
venv/
.env 

# Archivos compilados de Python
app/etl/__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db